.simContainer {
  background: var(--ifm-background-surface-color);
  padding: 30px;
  border-radius: 15px;
  border: 2px solid var(--ifm-color-primary);
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
}

.questionText { font-size: 1.2rem; margin-bottom: 20px; font-weight: 500; }

.btnGrid { display: flex; gap: 10px; justify-content: center; }

.optBtn {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background: var(--ifm-color-primary);
  color: rgb(53, 25, 25);
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}

.optBtn:hover { transform: scale(1.05); opacity: 0.9; }

.resultBox {
  padding: 20px;
  background: #3e9759;
  border-radius: 10px;
  color: #000000;
}

.resetBtn {
  margin-top: 15px;
  background: transparent;
  border: 1px solid #166534;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}