@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Lexend:wght@400;900&family=Montserrat:wght@400;900&family=JetBrains+Mono:wght@400;800&family=Playfair+Display:wght@400;900&family=Oswald:wght@400;700&family=Public+Sans:wght@400;900&family=Space+Grotesk:wght@400;700&family=Fira+Code:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

@theme {
  --font-inter: "Inter", sans-serif;
  --font-lexend: "Lexend", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-playfair: "Playfair Display", serif;
  --font-oswald: "Oswald", sans-serif;
  --font-public: "Public Sans", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-fira: "Fira Code", monospace;
  --font-roboto: "Roboto Condensed", sans-serif;
}
/* Määritellään Tailwindille sopivat luokat, jos haluat käyttää niitä inline-tyylinä */
body {
  font-family: "Inter", sans-serif;
}
.font-inter { font-family: 'Inter', sans-serif; }
.font-lexend { font-family: 'Lexend', sans-serif; }
.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-jetbrains { font-family: 'JetBrains Mono', monospace; }
.font-playfair { font-family: 'Playfair Display', serif; }
.font-oswald { font-family: 'Oswald', sans-serif; }
.font-public { font-family: 'Public Sans', sans-serif; }
.font-space { font-family: 'Space Grotesk', sans-serif; }
.font-fira { font-family: 'Fira Code', monospace; }
.font-roboto { font-family: 'Roboto Condensed', sans-serif; }

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

@layer base {
  body {
    @apply font-inter; /* Tämä asettaa oletusfontiksi Interin */
  }
}